.bold {
    font-weight: bold;
}

.background-image{
    background-image: url('../assets/back.jpeg');
    background-size: cover;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.align-right{
    text-align: right;
}

.style-ayah{
    font-size:28px;
    line-height:200%; 
    text-align:right; 
}

.outer {
    position: relative;
    background: white;
    height: 200px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    resize: both;
    overflow: auto;
}

.inner {
    background: black;
    color: white;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    resize: both;
    overflow: auto;
}