.card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 1px 1px 1px lightgray;
    transition: 0.3s;
    border-radius: 1px;
    padding-top: 3px;
}

    
.card-content{
    padding: 2px 16px;
}

.card-action{
    border-top: 1px solid #eee;
    padding: 16px 24px;
}

.card-action a{
    margin-right: 24px;
}